html,
body {
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Bodwars';
  src: url('/fonts/Bodwars.woff2') format('woff2'),
    url('/fonts/Bodwars.woff') format('woff');
}

@font-face {
  font-family: 'SomarRounded-Bold';
  src: url('/fonts/SomarRounded-Bold.woff2') format('woff2'),
    url('/fonts/SomarRounded-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SomarRounded-Regular';
  src: url('/fonts/SomarRounded-Regular.woff2') format('woff2'),
    url('/fonts/SomarRounded-Regular.woff') format('woff');
}
